* {
    margin: 0;
}
html, body {
    height: 100%;
}
.heroes {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
}
.h3 {
    font-size: 2em;
}
.h4 {
    font-size: 1.6em;
}
.login a, .call-to-action a {
    display: inline-block;
    color: white !important;
    text-decoration: none;
}
.login a:hover, .call-to-action a:hover {
    color: black !important;
}
.navbar {
    height: 70px;
}
.danger {
    color: red;
}
@media all and (min-width: 601px) {
    .header-image {
        height:300px;
    }
}

@media all and (max-width: 1200px) {
    .h3 {
        font-size: 1.4em;
    }
    .h4 {
        font-size: 1em;
    }
}
@media all and (max-width: 600px) {
    .header-image {
        display: none;
    }

}