{% extends 'index.html' %}

{% block content %}
<div class="mx-3 my-3">
    <h2 class="mb-3">Fichiers générés :</h2>
<ul class="list-unstyled">
    {% for path in paths %}
    <li>
        <a href="{{ url_for('static', filename='/files/' + path.split('/')[-1]) }}">{{path.split("/")[-1]}}</a>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}