{% extends 'index.html' %}

{% block content %}
<div class="column is-4 is-offset-4 mx-auto" style="width: 500px">
  <h2 class="py-3">Je m'abonne</h2>
<form method="post">
    <div class="form-group mx-3 my-3">
      <label for="name">Nom </label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Nom de l'abonné">
    </div>
    <div class="form-group mx-3 my-3">
      <label for="email">Email </label>
      <input type="email" class="form-control" name="email" id="email" placeholder="nom@exemple.com">
      </div>
      <div class="form-group mx-3 my-3">
      <label for="address">Adresse </label>
      <input type="text" class="form-control" name="address" id="address" placeholder="Adresse">
      </div>
      <div class="form-group mx-3 my-3">
        <label for="age">Age </label>
        <input type="number" class="form-control" name="age" id="age" placeholder="Age">
      </div>
      <div class="form-group mx-3" style="width: 470px">
        <label for="rubrics">Rubriques</label>
        <select multiple class="form-control" id="rubrics" name="rubrics">
          <option value="maison">Maison</option>
          <option value="sport">Sport</option>
          <option value="animaux">Animaux</option>
          <option value="cinema">Cinéma</option>
        </select>
      </div>
      <div class="form-group mx-3 my-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="digital" id="digital" name="digital" value="digital">
          <label class="form-check-label" for="digital">abonnement numérique</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="paper" id="paper" name="paper" value="paper">
          <label class="form-check-label" for="paper">abonnement papier</label>
        </div>
      </div>
      <br>
      <input
        type="submit"
        class="btn btn-dark mx-3 my-3"
        value="Valider" />
    </div>
  </form>
</div>
{% endblock %}