{% extends 'index.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-start" id="navbarExample01">
        <ul class="navbar-nav me-right mb-2 mb-lg-0 w-100">
          <li class="nav-item active my-auto" style="margin-right: 20px">
            <h2>Tableau de bord</h2>
          </li>
          <li class="login nav-item btn btn-light mx-4">
            <h3>
                <a
                    class="nav-link py-1"
                    style="color: black !important"
                    href="/displayUsers"
                >Utilisateurs</a>
            </h3>
          </li>
          <li class="login nav-item btn btn-light mx-4">
            <h3>
                <a
                    class="nav-link py-1"
                    style="color: black !important"
                    href="/displaySubscriptions"
                >Abonnements</a>
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% if userIsActive == True %}
  {% block users %}{% endblock %}
  {% else %}
  {% block subscriptions %}{% endblock %}
  {% endif %}
  {% endblock %}