{% extends 'dashboard.html' %}

{% block subscriptions %}
  <div class="mx-4 my-4 d-flex justify-content-end">
    <span>
        <a
        class="py-3 px-3"
        style="background-color: #000; color: #fff; text-decoration: none; border-radius: 4px;"
        href="/createModel"
    >Ajouter un nouveau modèle</a>
    </span>
  </div>
<h2 class="mx-3 my-6">
    Liste des abonnements
</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Adresse</th>
        <th scope="col">Age</th>
        <th scope="col">Rubriques</th>
        <th scope="col">Type(s) d'abonnement</th>
        <th scope="col">Id Utilisateur</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for subscription in subscriptions %}
      <tr>
        <td scope="row">{{ subscription.id }}</td>
        <td>{{ subscription.name }}</td>
        <td>{{ subscription.email}}</td>
        <td>{{ subscription.address }}</td>
        <td>{{ subscription.age }}</td>
        <td>{{", ".join(subscription.rubrics)}}</td>
        
        <td>{{ subscription.subscription_type|join(", ") }}</td>
        <td>{{ subscription.user_id }}</td>
        <td>
            <a class="btn" style="background-color: #6A57DE; color: #fff" href="/modifySubscription/{{subscription.id}}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger" href="/deleteSubscription/{{subscription.id}}"><i class="fa fa-trash"></i></a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
<form class="mx-3 my-3" method="POST" action="/edit_subscriptions">
    <div class="form-group">
        <input type="submit" class="btn btn-dark" value="Editer les journaux"/>
    </div>
</form>
{% endblock %}