{% extends 'dashboard.html' %}

{% block users %}
<h2 class="mt-3 mx-3">
    Liste des utilisateurs
</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Administrateur</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
      <tr>
        <td scope="row">{{ user.id }}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.isAdmin}}</td>
        <td>
            <a class="btn" style="background-color: #6A57DE; color: #fff" href="/modifyUser/{{user.id}}"><i class="fa fa-pencil"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  {% endblock %}
