{% extends 'index.html' %}

{% block content %}
    <!-- Background image -->
    <div
      class="header-image p-5 text-center bg-image"
      style="
        background-image: url('../static/assets/vacances.jpg');
        background-position: center;
      "
    >
      <div class="mask d-flex justify-content-center">
        <h1 class="mb-3">Abonnez-vous à la carte !</h1>
      </div>
    </div>
    <!-- Background image -->
    <div class="container-fluid">
      <div class="row">
            <div class="col-md text-center">
              <div class="py-3">Plongez dans l'actualité captivante avec notre vente de journaux à la rubrique ! Restez informé(e) des dernières nouvelles, découvrez des reportages exclusifs et explorez les sujets qui vous passionnent.</div>
              <img class="img-thumbnail" alt="rubrique" src="../static/assets/sport.png" style="width: 200px; height: auto;"/>
              <div class="py-3">Que vous soyez intéressé(e) par la politique, la culture, les sports ou les affaires, nos journaux vous offrent une expérience de lecture enrichissante et stimulante. Ne manquez pas cette occasion de vous tenir au courant et de vous connecter au monde qui vous entoure.</div>
          </div>
        <div class="col-md d-flex flex-column justify-content-center align-items-center">
          <p class="h3 py-3">
            Le premier journal à la carte !
          </p>
          <p class="h4 py-3">Avec Presse à la Carte, nous vous proposons un journal qui vous ressemble
            à un prix défiant toute concurrence.</p>
            <p class="h4 py-3">Vous ne payez que les articles qui vous intéressent</h4>
            <div class="call-to-action btn btn-outline-light btn-dark border border-dark">
              <a href="/createSubscription" class="px-1 py-2" style="font-size: 1.4em">Je m'abonne</a>
            </div>
          </div >
      </div>
    </div>
{% endblock %} 