<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>FlaskApp</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="/static/js/test.js"></script>
</head>
<body>
   <main class="heroes">
        <div class="container container-fluid min-vw-100 mx-0 px-0">

            <header>
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-light bg-black sticky-top ">
                  <div class="container-fluid">
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-mdb-toggle="collapse"
                      data-mdb-target="#navbarExample01"
                      aria-controls="navbarExample01"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <i class="fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand text-white" href="/">Presse à la carte</a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarExample01">
                      <ul class="navbar-nav me-right mb-2 mb-lg-0">
                        {% if session['admin'] == False %}
                        <li class="nav-item active my-auto" style="margin-right: 20px">
                          <a class="nav-link text-white" aria-current="page" href="/createSubscription">S'abonner</a>
                        </li>
                        {% endif %}
                        <li class="login nav-item btn btn-outline-light btn-dark">
                          {%if session['user'] %}
                          <a class="nav-link py-1" href="/logout">Se déconnecter</a>
                          {%else%}
                          <a class="nav-link py-1" href="/login">Se connecter</a>
                          {% endif %}

                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </header>

            <div>
                {% block content %} {% endblock %}
            </div>
        </div>
        <div class="push"></div>
   </main>

   <!-- footer -->
   <footer class="footer shadow bg-black min-vw-100">
    <div
      class="d-flex justify-content-between align-items-center mx-auto py-4 flex-wrap"
      style="width: 80%"
    >
      <a href="/" class="d-flex align-items-center p-0 text-dark">
        <span class="ms-4 h5 font-weight-bold text-white">Presse à la carte</span>
      </a>
      <small class="text-white">&copy; 2023 - Tous droits réservés.</small>
    </div>
  </footer>

      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>