{% extends "index.html" %}

{% block content %}
<!--form submit message error-->
{% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show"
             role="alert">
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>

            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
<div class="column is-4 is-offset-4 mx-auto" style="width: 500px">
    <h3 class="title my-3">Je me connecte</h3>
    <div class="box mx-3">
        <form method="POST" action="/login">
            <div class="form-group mx-3 my-3">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
            <div class="form-group mx-3 my-3">
                <label for="password">Mot de passe</label>
                <input class="form-control" type="password" name="password" placeholder="Your Password">
            </div>
            <input type="submit" class="btn btn-dark mx-3 my-3" value="valider" />
        </form>
        <div class="my-3">
            <a href="signup">Pas de compte actif ? Je m'inscris</a>
        </div>
    </div>
</div>
{% endblock %}