{% extends 'index.html' %}

{% block content %}
    {% for row in data %}
        <ul>
            {{row[0]}}
            {% for k, v in row.items() %}
                <li>{{k}}: {{v}}<li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}