{% extends 'index.html' %}

{% block content %}
<div class="mx-3 my-3">
    <h2 class="mb-3">Modèles sauvegardés :</h2>
<ul class="list-unstyled">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
</div>
{% endblock %}