{% extends 'index.html' %}

{% block content %}
<div class="column is-4 is-offset-4 mx-auto" style="width: 500px">
  <h2 class="py-3">Modifier l'abonnement</h2>
<form method="post">
    <div class="form-group mx-3 my-3">
      <label for="name">Nom </label>
      <input type="text" class="form-control" name="name" id="name" value="{{subscription.name}}">
    </div>
    <div class="form-group mx-3 my-3">
      <label for="email">Email </label>
      <input type="email" class="form-control" name="email" id="email" value="{{subscription.email}}">
      </div>
      <div class="form-group mx-3 my-3">
      <label for="address">Adresse </label>
      <input type="text" class="form-control" name="address" id="address" value="{{subscription.address}}">
      </div>
      <div class="form-group mx-3 my-3">
        <label for="age">Email </label>
        <input type="number" class="form-control" name="age" id="age" value="{{subscription.age}}">
      </div>
      <div class="form-group mx-3" style="width: 470px">
        <label for="rubrics">Rubriques</label>
        <select multiple class="form-control" id="rubrics" name="rubrics">
          <option value="maison" {% if rubrics.maison == True %} selected=true {% endif %}>Maison</option>
          <option value="sport" {% if rubrics.sport == True %} selected=true {% endif %}>Sport</option>
          <option value="animaux" {% if rubrics.animaux == True %} selected=true {% endif %}>Animaux</option>
          <option value="cinema" {% if rubrics.cinema == True %} selected=true {% endif %}>Cinéma</option>
        </select>
      </div>
      <br>
      <div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="digital" id="digital" {% if types.digital == True %} checked=true {% endif %}>
          <label class="form-check-label" for="digital">Abonnement numérique</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="paper" id="paper" {% if types.paper == True %} checked=true {% endif %}>
          <label class="form-check-label" for="paper">Abonnement papier</label>
        </div>
      </div>
      <br />
      <input type="hidden" class="form-control" name="id" id="id" value="{{subscription.id}}">
      <input type="hidden" class="form-control" name="userId" id="userId" value="{{subscription.user_id}}">
      <input
        type="submit"
        class="btn btn-dark mx-3 my-3"
        value="Valider" />
        <a
          class="btn btn-dark mx-3 my-3"
          href="{{ url_for('subscription.displaySubscriptions') }}"
        >
          Abandonner</a>
    </div>
  </form>
</div>
{% endblock %}