{% extends 'index.html' %}
{% block content %}
<!--form submit message error-->
{% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show"
             role="alert">
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>

            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}
<div class="mx-auto my-3" style="width: 500px">
    <h2>Mettre à jour</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group mx-3 my-3">
        <label for="id">Id</label>
        <input
            type="text"
            id="id"
            name="id"
            class="form-control"
            value="{{user.id}}"
            readonly
        />
    </div>
    <div class="form-group mx-3 my-3">
        <label for="email">Email</label>
        <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            value="{{user.email}}"
        />
    </div>
    <div class="form-group mx-3 my-3">
        <label for="password">Mot de passe</label>
        <input
            disabled
            type="password"
            id="password"
            name="password"
            class="form-control"
            value="{{user.password}}"
        />
    </div>
    <div class="form-group mx-3 my-3">
        <label for="isAdmin">Administrateur</label>
        <input
            type="text"
            id="isAdmin"
            name="isAdmin"
            class="form-control"
            value="{{user.isAdmin}}"
        />
    </div>
    <div class="form-group mx-3 my-3">
        <input type="submit" class="btn btn-dark" value="Modifier"/>
        <a
        class="btn btn-dark mx-3 my-3"
        href="{{ url_for('user.displayUsers') }}"
      >
        Abandonner</a>
    </div>
</form>
</div>

{% endblock %}