{% extends 'index.html' %}

{% block content %}
<!--form submit message error or success-->
{% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show"
             role="alert">
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>

            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
        {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show"
             role="alert">
            <ul>
                {%- for msg in messages %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}
    <!-- form -->
    <div class="column is-4 is-offset-4 mx-auto">
        <h2 class="mx-3 my-3">Profil</h2>
        <form method="POST" action="/modifyProfile/{{user.id}}" style="width: 500px">
                <div class="form-group mx-3 my-3">
                    <label for="email">Email : </label>
                    <input class="form-control" type="email" name="email" value="{{ user.email }}" placeholder="{{ user.email }}" autofocus="">
                </div>

            <div class="form-group mx-3 my-3">
                    <label for="password">Mot de passe : </label>
                    <input disabled class="form-control" type="password" name="password" value="{{ user.password }}">
            </div>
            <input hidden name="isAdmin" value="{{user.isAdmin}}" />
            <input type="submit" class="btn btn-dark mx-3 my-3" value="Modifier" />

        </form>
    <div class="mx-3">
        <h2 class="my-5">Abonnements</h2>
        {% if subscriptions[0] %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Adresse</th>
                <th scope="col">Age</th>
                <th scope="col">Rubriques</th>
                <th scope="col">Type d'abonnement</th>
              </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}

            <tr>
                <td>{{ subscription.name }}</td>
                <td>{{ subscription.email}}</td>
                <td>{{ subscription.address }}</td>
                <td>{{ subscription.age }}</td>
                <td>{{", ".join(subscription.rubrics)}}</td>
                <td>{{ subscription.subscription_type|join(", ") }}</td>
            </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
        <p>Aucun</p>
        {% endif %}
    </div>
</div>
{% endblock %}