{% extends "index.html" %}

{% block content %}
<div class="column is-4 is-offset-4 mx-auto" style="width: 500px">
    <h3 class="title my-3">Je m'inscris</h3>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="form-group mx-3 my-3">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
            </div>

            <div class="form-group mx-3 my-3">
                <label for="password">Mot de Passe</label>
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>

            <input type="submit" class="btn btn-dark mx-3 my-3" value="Sign Up" />
        </form>
    </div>
</div>
{% endblock %}